@import "../helpers/helpers.scss";
			
.Loader{
    .loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.loaderContent {
  text-align: center;
}

.percent {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.barOuter {
  width: 200px;
  height: 8px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.barInner {
  height: 100%;
  background: #fff;
  width: 0%;
  transition: width 0.2s ease;
}

}