@import "../helpers/helpers.scss";
			
.MainAnimationSection{
    position: relative;
    .banner_section{
        height: 100vh;
        padding: 130px 4vw 100px 4vw;
        position: relative;
        @media (max-width: 767px) {
            padding: 60px 15px 15px 15px;
        }
        /* Keyframes */
        @keyframes moveRight {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(60px);
            }
        }
        @keyframes moveTop {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(60px);
            }
        }
        @keyframes moveTop1 {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(20px);
            }
        }
        @keyframes moveScale {
            0% {
                transform: scale(0.8);
            }
            100% {
                transform: scale(1);
            }
        }
        .bannerVector4{
            top: 50px;
            right: 0;
            position: absolute;
            transform: scale(0);
            animation: moveTop 2s ease-in-out infinite alternate;
            @media (max-width: 767px) {
                top: 60%;
                width: 100px;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.6;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../../../public/img/home/banner_bg.jpg);
        }
        .bannerWave{
            left: 0;
            z-index: 1;
            width: 100%;
            bottom: -50px;
            position: absolute;
            @media (max-width: 767px) {
                bottom: -15px;
            }
        }
        .banner{
            display: flex;
            @media (max-width: 767px) {
                flex-wrap: wrap;
            }
            .left_section{
                width: 55%;
                @media (max-width: 767px) {
                    width: 100%;
                }
                .banner_title{
                    overflow: hidden;
                    h2{
                        color: #2B8B00;
                        font-size: 185px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 145px;
                        transform: translateY(100%);
                        font-family: var(--font-braked-s-b);
                        @media (max-width: 767px) {
                            font-size: 80px;
                            line-height: 80px;
                        }
                    }
                }
                .banner_desc{
                    overflow: hidden;
                    p{
                        width: 70%;
                        font-size: 26px;
                        line-height: 32px;
                        font-weight: 400;
                        color: #236F00;
                        padding-top: 10px;
                        transform: translateY(100%);
                        @media (max-width: 767px) {
                            width: 100%;
                            font-size: 24px;
                            line-height: 28px;
                        }
                    }
                }
            }
            .right_section{
                width: 45%;
                height: calc(100vh - 230px);
                position: relative;
                @media (max-width: 767px) {
                    width: 100%;
                }
                .BannerLeaf{
                    top: 10%;
                    left: 0%;
                    opacity: 0;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    animation: moveScale 2s ease-in-out infinite alternate;
                }
                .bannerVector1{
                    top: 24%;
                    left: -50px;
                    position: absolute;
                    transform: translateY(-50%) scale(0);
                    animation: moveTop 2s ease-in-out infinite alternate;
                    
                }
                .bannerVector2{
                    left: -210px;
                    bottom: -30px;
                    position: absolute;
                    transform: scale(0);
                    animation: moveRight 2s ease-in-out infinite alternate;
                    @media (max-width: 767px) {
                        left: -50px;
                        width: 100px;
                        bottom: 200px;
                    }
                }
                .bannerVector3{
                    right: -80px;
                    bottom: 0px;
                    position: absolute;
                    transform: scale(0);
                    animation: moveRight 2s ease-in-out infinite alternate;
                    @media (max-width: 767px) {
                        right: 0px;
                        width: 100px;
                        bottom: 200px;
                    }
                }
                .bottle{
                    position: relative;
                    .left_bottle{
                        z-index: 11;
                        model-viewer{
                            // position: absolute;
                            width: 30vw;
                            height: 75vh;
                            z-index: 1;
                            transform: rotate(-15deg);
                            display: block;
                            overflow: hidden;
                            pointer-events: auto;
                            @media (max-width: 767px) {
                                width: 140px;
                            }
                        }
                    }
                    .RedBottle{
                        left: 0;
                        z-index: 1;
                        top: -20px;
                        position: absolute;
                        @media (min-width: 1441px) and (max-width: 1920px) {
                            top: 0;
                        }
                    }
                    .GreenBottle{
                        right: -40px;
                        z-index: 1;
                        top: -20px;
                        position: absolute;
                        transform: rotate(35deg);
                        @media (max-width: 767px) {
                            right: 10px;
                            top: -100px;
                        }
                        model-viewer{
                            // position: absolute;
                            width: 32vw;
                            height: 78vh;
                            z-index: 1;
                            transform: rotate(-15deg);
                            display: block;
                            overflow: hidden;
                            pointer-events: auto;
                            @media (max-width: 767px) {
                                width: 140px;
                            }
                        }
                        @media (min-width: 1441px) and (max-width: 1920px) {
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    .bottle_anima_section{
        width: 100vw;
        height: 100vh;
        z-index: 2;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.6;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../../../public/img/home/find_bg.png);
        }
        .anima_section{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .title_section{
                top: 20px;
                left: 50%;
                width: 100%;
                overflow: hidden;
                text-align: center;
                position: absolute;
                margin-top: 50px;
                transform: translateX(-50%);
                .title_anima{
                    transform: translateY(100%);
                }
            }
            .left_bottle{
                z-index: 1;
                model-viewer{
                    // position: absolute;
                    width: 32vw;
                    height: 80vh;
                    transform: rotate(-15deg);
                    display: block;
                    overflow: hidden;
                    pointer-events: auto;
                    @media (max-width: 767px) {
                        width: 140px;
                    }
                }
            }
            .RedBottle{
                width: 177px;
                z-index: 1;
                margin-top: -46px;
                position: relative;
            }
            .vector_anima_section{
                .AnimaVector1{
                    opacity: 0;
                    bottom: 0;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .AnimaVector2{
                    opacity: 0;
                    left: 50%;
                    z-index: 0;
                    bottom: 0;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .AnimaVector3{
                    opacity: 0;
                    z-index: 0;
                    bottom: 0%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .AnimaVector4{
                    opacity: 0;
                    bottom: 0%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .AnimaVector5{
                    opacity: 0;
                    bottom: 0%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .GreenVector1{
                    opacity: 0;
                    bottom: 0;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .GreenVector2{
                    opacity: 0;
                    left: 50%;
                    z-index: 0;
                    bottom: 0;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .GreenVector3{
                    opacity: 0;
                    z-index: 0;
                    bottom: 0%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .GreenVector4{
                    opacity: 0;
                    bottom: 0%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
                .GreenVector5{
                    opacity: 0;
                    bottom: 0%;
                    left: 50%;
                    position: absolute;
                    transform: translate(-50%, -50%);

                }
            }
        }
        .GreenBottleAnimationNew{
            top: 53.5%;
            left: 50%;
            display: none;
            position: absolute;
            transform: translate(-50%, -50%) rotate(15deg);
            model-viewer{
                // position: absolute;
                width: 32vw;
                height: 81vh;
                transform: rotate(-15deg);
                display: block;
                overflow: hidden;
                pointer-events: auto;
                @media (max-width: 767px) {
                    width: 145px;
                }
            }
        }
        .circle_anima{
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            display: flex;
            top: 50%;
            left: 50%;
            position: absolute;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50%);
            .main_circle{
                width: 100%;
                height: 100%;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .AnimaCircle{
                    transform: scale(0);
                }
            }
            .LeftHeand{
                top: 50%;
                left: -55%;
                z-index: 1;
                position: absolute;
                transform: translateY(-50%);
                @media (max-width: 767px) {
                    width: 250px;
                    // display: none;
                    left: -70%;
                }
            }
            .RightHeand{
                top: 50%;
                z-index: 1;
                right: -55%;
                position: absolute;
                transform: translateY(-50%); 
                @media (max-width: 767px) {
                    width: 250px;
                    // display: none;
                    right: -70%;
                }
            } 
        }
        .heandTextAnima{
            width: 100vw;
            height: 100vh;
            display: flex;
            top: 50%;
            left: 50%;
            position: absolute;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            transform: translate(-50%, -50%);
            @media (max-width: 767px) {
                padding: 0 15px;
            }
            .text_section{
                width: 600px;
                .desc{
                    font-size: 24px;
                    line-height: 32px;
                    font-weight: 600;
                    color: #236F00;
                    text-align: center;
                    overflow: hidden;
                    position: relative;
                    @media (max-width: 767px) {
                       font-size: 20px;
                       line-height: 28px;
                    }
                    .para{
                        position: relative;
                        transform: translateY(-100%);
                    }
                }
                .desc_section_wrapper{
                    overflow: hidden;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                    .desc_section{
                        text-align: center;
                        transform: translateY(100%);
                        .para2{
                            font-size: 24px;
                            line-height: 32px;
                            font-weight: 600;
                            color: #236F00;
                            text-align: center;
                            overflow: hidden;
                            position: relative;
                        }
                    }
                }
                .img_section_animation{
                    overflow: hidden;
                    .img_section{
                        display: flex;
                        padding-top: 100px;
                        position: relative;
                        transform: translateY(100%);
                        justify-content: space-between;
                        .one{
                            padding-top: 20px;
                            animation: moveTop1 2s ease-in-out infinite alternate;
                        }
                        .two{
                            margin-top: -40px;
                            animation: moveTop1 2s ease-in-out infinite alternate;
                        }
                        .three{
                            margin-top: -70px;
                            animation: moveTop1 2s ease-in-out infinite alternate;
                        }
                        .SmallCircles1{
                            top: 100px;
                            left: 150px;
                            position: absolute;
                        }
                        .SmallCircles2{
                            bottom: 60px;
                            left: 75%;
                            position: absolute;
                        }
                    }
                }
                
            }
        }
        .IndianMade{
            top: 0;
            padding: 80px 0 0;
            position: absolute;
            @media (max-width: 767px) {
                // height: 100vh;
            }
            .LeftLine{
                opacity: 0;
                top: 100px;
                left: -50px;
                position: absolute;
                animation: moveRight 2s ease-in-out infinite alternate;
                @media (max-width: 767px) {
                   width: 100px;
                }
            }
            .CenterLine{
                top: 50%;
                left: 15%;
                opacity: 0;
                position: absolute; 
                transform: translate(-50%, -50%);
                animation: moveRight 2s ease-in-out infinite alternate;
                @media (max-width: 767px) {
                    width: 80px;
                    left: 0;
                    top: 60%;
                }
            }
            .RightLine{
                top: 35%;
                right: -60px;
                z-index: 1;
                opacity: 0;
                position: absolute; 
                transform: translateY(-50%);
                animation: moveRight 2s ease-in-out infinite alternate;
                @media (max-width: 767px) {
                    width: 100px;
                    right: 100px;
                    top: 65%;
                }
            }
            .Leaf{
                opacity: 0;
                top: 50px;
                z-index: 1;
                right: -50px;
                position: absolute; 
                @media (max-width: 767px) {
                    width: 200px;
                }
            }
            .Mood{
                right: 12%;
                top: 150px;
                opacity: 0;
                position: absolute;
                transform: translateX(-50%) scale(0);
                animation: moveScale 2s ease-in-out infinite alternate;
                @media (max-width: 767px) {
                    width: 80px;
                    top: 120px;
                }
            }
            .Flovare1{
                top: 150px;
                left: 13%;
                opacity: 0;
                position: absolute;
                transform: translateX(-50%) scale(0);
                animation: moveScale 2s ease-in-out infinite alternate;
            }
            .Flovare2{
                top: 30%;
                left: 23%;
                opacity: 0;
                position: absolute;
                transform: translate(-50%, -50%) scale(0);
                animation: moveScale 2s ease-in-out infinite alternate;
                @media (max-width: 767px) {
                    top: 55%;
                }
            }
            .Flovare3{
                top: 48%;
                right: 20%;
                opacity: 0;
                position: absolute;
                transform: translate(-50%, -50%) scale(0);
                animation: moveScale 2s ease-in-out infinite alternate;
                @media (max-width: 767px) {
                    top: 60%;
                }
            }
            .Flovare4{
                top: 80px;
                right: 2%;
                z-index: 1;
                opacity: 0;
                position: absolute;
                transform: translateX(-50%) scale(0);
                animation: moveScale 2s ease-in-out infinite alternate;
            }
            .text_section{
                @media (max-width: 767px) {
                    height: 100vh;
                }
                .title_animation{
                    text-align: center;
                    @media (max-width: 767px) {
                        margin-top: 50px;
                    }
                    .one{
                        overflow: hidden;
                        h2{
                            transform: translateY(100%);
                        }
                    }
                    .two{
                        overflow: hidden;
                        h2{
                            transform: translateY(100%);
                        }
                    }
                    .three{
                        overflow: hidden;
                        h2{
                            transform: translateY(100%);
                        }
                    }
                    h2{
                        line-height: 110px;
                        @media (max-width: 767px) {
                            line-height: 60px;
                        }
                    }
                    .para_data{
                        width: 65%;
                        margin: auto;
                        color: #236F00;
                        text-align: center;
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 32px;
                        letter-spacing: -0.52px;
                        padding-top: 60px;
                        overflow: hidden;
                        @media (max-width: 767px) {
                            width: 100%;
                            padding: 0 15px;
                            font-size: 20px;
                            line-height: 24px;
                            margin-top: 10px;
                        }
                        p{
                            transform: translateY(100%);
                            .br_padd{
                                display: block;
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }
            .bottom_img{
                width: 100%;
                display: flex;
                position: relative;
                align-items: flex-end;
                transform: translateY(100%);
                justify-content: space-between;
                .left_img{
                    z-index: 1;
                    position: relative;
                }
                .right_img{
                    right: 0;
                    bottom: 0;
                    position: absolute;
                }
            }
        }
        .top_text_section{
            height: 100vh;
            position: absolute;
            overflow: hidden;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            padding: 120px 0 150px 0;
            .text_section_flavour_wrapper{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .text_section_flavour_main{
                    height: 250px;
                    padding-top: 60px;
                    overflow: hidden;
                    @media (max-width: 767px) {
                        height: 350px;
                    }
                    .text_section_flavour_inner{
                        transform: translateY(110%);
                         @media (max-width: 767px) {
                            padding: 15px;
                            text-align: center;
                            transform: translateY(180%);
                        }
                        .text_animation{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 767px) {
                                flex-wrap: wrap;
                            }
                            .text_animation_inner{
                                position: relative;
                                @media (max-width: 767px) {
                                    width: 50px;
                                }
                                .love1{
                                    top: -10px;
                                    left: 50%;
                                    opacity: 0;
                                    position: absolute;
                                    transform: translate(-50%, -50%);
                                }
                                .love2{
                                    top: -40px;
                                    left: 60%;
                                    opacity: 0;
                                    position: absolute;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                        h6{
                            color: #236F00;
                            text-align: center;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px; 
                        }
                    }
                }
            }
            
            .RedWaveTop{
                bottom: -88px;
                left: 0;
                width: 100%;
                position: absolute;
            }
        }
        .EveryFlavour{
            top: 0;
            width: 100%;
            position: absolute;
            transform: translateY(100%);
            .RedWaveTop{
                top: 0;
                left: 0;
                width: 100%;
                position: absolute;
            }
            
            .flavour_wrapper{
                overflow: hidden;
                position: relative;
                .flavour_section_1{
                    height: 100vh;
                    padding: 100px 0;
                    position: relative;
                    background-color: #F47A7B;
                    .text_animation{
                        z-index: 2;
                        display: flex;
                        grid-gap: 20%;
                        padding-top: 120px;
                        margin-left: -40px;
                        position: relative;
                        justify-content: center;
                        transform: rotate(-11deg);
                        @media (max-width: 767px) {
                            margin-left: -10px;
                            grid-gap: 25%;
                            padding-top: 0;
                            height: 70vh;
                            align-items: center;
                            margin-left: -5px;
                            transform: rotate(-9deg);
                        }
                        .text_left{
                            width: 380px;
                            overflow: hidden;
                            color: #FAF8D9;
                            text-align: center;
                            font-size: 290px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            display: flex;
                            text-transform: uppercase;
                            font-family: var(--font-braked-r);
                            
                            &.text_right{
                                padding-top: 40px;
                                @media (max-width: 767px) {
                                    padding-top: 60px;
                                }
                            }
                            .span1{
                                display: block;
                                transform: translateX(150%);
                                @media (max-width: 767px) {
                                    transform: translateX(180%);
                                }
                                span{
                                    display: block;
                                    line-height: 225px;
                                    @media (max-width: 767px) {
                                        line-height: 80px;
                                    }
                                }
                                p{
                                    color: #fff;
                                    font-size: 17px;
                                    padding-left: 6px;
                                    text-align: left;
                                    text-transform: capitalize;
                                    font-family: var(--font_primary);
                                    @media (max-width: 767px) {
                                        font-size: 14px;
                                        padding-left: 0;
                                    }
                                }
                            }
                            .span2{
                                display: block;
                                transform: translateX(50%);
                                @media (max-width: 767px) {
                                    transform: translateX(100%);
                                }
                                span{
                                    display: block;
                                    line-height: 225px;
                                    @media (max-width: 767px) {
                                        line-height: 80px;
                                    }
                                }
                                p{
                                    color: #fff;
                                    font-size: 17px;
                                    padding-left: 6px;
                                    text-align: left;
                                    text-transform: capitalize;
                                    font-family: var(--font_primary);
                                    @media (max-width: 767px) {
                                        font-size: 14px;
                                        padding-left: 0;
                                    }
                                }
                            }
                        }
                        .text_left{
                            color: #FAF8D9;
                            text-align: center;
                            font-size: 290px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: uppercase;
                            font-family: var(--font-braked-r);
                            @media (max-width: 767px) {
                                font-size: 80px;
                            }
                        }
                    }
                    .bottle_section{
                        .FlavourBot1{
                            top: 50%;
                            left: 50%;
                            z-index: 1;
                            position: absolute;
                            transform: translate(-50%, -50%);
                            @media (max-width: 767px) {
                                width: 150px;
                            }
                        }
                        .RedBottleAnima{
                            clip-path: polygon(0 0, 80% 0, 100% 99%, 20% 99%);
                        }
                    }
                    .RedWaveTop{
                        top: -88px;
                        left: 0;
                        width: 100%;
                        position: absolute;
                    }
                    .RedCircle{
                        top: 50%;
                        left: 50%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                    }
                    .RedVector1{
                        top: -10%;
                        left: 0;
                        z-index: 1;
                        position: absolute;
                        transform: translateY(-50%);
                        @media (max-width: 767px) {
                            width: 50px;
                        }
                    }
                    .RedVector2{
                        top: -15%;
                        left: 25%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: 767px) {
                            width: 120px;
                        }
                    }
                    .RedVector3{
                        bottom: 100%;
                        left: 26%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: 767px) {
                            width: 80px;
                        }
                    }
                    .RedVector4{
                        bottom: 100%;
                        right: 20%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: 767px) {
                            width: 80px;
                        }
                    }
                    .RedVector5{
                        top: -10%;
                        right: 10%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: 767px) {
                            width: 80px;
                        }
                    }
                    .RedVector6{
                        right: 0;
                        bottom: 100%;
                        z-index: 1;
                        position: absolute;
                        transform: translateY(-50%);
                        @media (max-width: 767px) {
                            width: 80px;
                        }
                    }
                    .GreenVector11{
                        top: -10%;
                        left: 0;
                        z-index: 1;
                        position: absolute;
                        transform: translateY(-50%);
                        @media (max-width: 767px) {
                            width: 50px;
                        }
                    }
                    .GreenVector21{
                        top: -15%;
                        left: 25%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: 767px) {
                            width: 80px;
                        }
                    }
                    .GreenVector31{
                        bottom: 100%;
                        left: 26%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: 767px) {
                            width: 120px;
                        }
                    }
                    .GreenVector41{
                        bottom: 100%;
                        right: 20%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: 767px) {
                            width: 80px;
                        }
                    }
                    .GreenVector51{
                        top: -10%;
                        right: 10%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        @media (max-width: 767px) {
                            width: 80px;
                        }
                    }
                    .GreenVector61{
                        right: 0;
                        z-index: 1;
                        bottom: 100%;
                        position: absolute;
                        transform: translateY(-50%);
                        @media (max-width: 767px) {
                            width: 80px;
                        }
                    }
                }
                .flavour_section_2{
                    width: 100%;
                    height: 100%;
                    padding: 100px 0;
                    position: absolute;
                    background-color: #2b8b00;
                    transform: translateY(100%);
                    .text_animation{
                        z-index: 1;
                        display: flex;
                        grid-gap: 20%;
                        margin-left: -60px;
                        position: relative;
                        padding-top: 150px;
                        justify-content: center;
                        transform: rotate(-11deg);
                        // @media (max-width: 767px) {
                        //     grid-gap: 30%;
                        // }
                        .text_left{
                            color: #FAF8D9;
                            text-align: center;
                            font-size: 290px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: uppercase;
                            font-family: var(--font-braked-r);
                        }
                        .text_left{
                            color: #FAF8D9;
                            text-align: center;
                            font-size: 290px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            text-transform: uppercase;
                            font-family: var(--font-braked-r);
                        }
                    }
                    .RedWaveTop{
                        top: -82px;
                        left: 0;
                        z-index: 1;
                        width: 100%;
                        position: absolute;
                    }
                    .GreenCircle{
                        top: 50%;
                        left: 50%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                    }
                    .FlavourBot1{
                        top: 50%;
                        left: 50%;
                        z-index: 1;
                        position: absolute;
                        transform: translate(-50%, -50%);
                    }
                    .GreenVector1{
                        top: 30%;
                        left: 0;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                    .GreenVector2{
                        top: 20%;
                        left: 25%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                    }
                    .GreenVector3{
                        bottom: 10%;
                        left: 26%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                    }
                    .GreenVector4{
                        bottom: 20%;
                        right: 20%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                    }
                    .GreenVector5{
                        top: 15%;
                        right: 10%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                    }
                    .GreenVector6{
                        right: 0;
                        bottom: 0;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}